<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"
        <title>INVENTARIO 0.1</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f6f8;
            }
            .container {
                max-width: 400px;
                margin: 80px auto;
                background: white;
                padding: 25px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>INVENTARIO 0.1</h2>
            <p>Flask + html</p>
        </div>
    </body>
</html>